* {
    box-sizing: border-box;
}
body {
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;

}
.header{
    text-align: center;
    background: white;
    padding: 30px;
}
.header h1{
    font-size: 50px;
}
.topnav{
    background: black;
    overflow: hidden;
}
.topnav a{
    color: white;
    font-size: 25px;
    padding: 12px 14px;
    float: left;
    text-decoration: none;
}
.topnav a:hover{
    background: #ddd;
    color: black;
}
.leftColumn{
    float: left;
    width: 75%;
}
.rightColumn{
    float: left;
    width: 25%;
    background: #f1f1f1;
    padding-left: 20px ;
}
.img{
    width: 100%;
    height: 300px;
    background: #aaa;
    padding: 20px;
}
.card{
    padding: 20px;
    margin-top: 20px;
    background: white;
}
.container{
    width: 100%;
    height: 80px;
    background:#aaa;
    padding: 10px;
    border-bottom: 1px solid black ;
}
.form{
    padding: 10px;
}
input {
    margin: 5px;
    background-color: rgb(218, 218, 218);
    border-radius: 3px;
    border-bottom:2px solid black;
}
#submit {
    border-radius: 20px;
    background-color: #aaa;
    border: none;
    width: 50px;
    height: 50px;
    position: relative;
    width: 150px;
    font-size: 20px;
    margin: 10px;
}
#submit:hover {
    background-color: rgb(139, 139, 139);
}
.card1 {
    background-image: linear-gradient(rgb(223, 219, 219), rgba(223,219,219,0.5),rgba(223,218,219,0.2),white);
   width: 99%;
   box-shadow: 5px 5px 5px #aaa , 15px 7px 10px #aaa;
}
.img1{
    padding: 20px;
    position: relative;
}
.img1 img {
   width: 100%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   opacity: 0.7;
   margin-top: 9px;
   position: absolute;
   top: 5px;
   left: 5px;
   color: black;
}
.card2{
    position: relative;
}
.card2 img{
    width: 100%;
    height: auto;
    position: absolute;
}
.card2 p{
    position: absolute;
    top:5px;
    left: 38%;
}
.card2 img:hover{
  opacity: 0.4;
}